.App {
  text-align: center;
  font-size: calc(11px + 2vmin);
  color: white;
}

h1 {
  padding-top: 50px;
}

.poems {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: white;
  text-decoration: underline;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #212327;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0px;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
  background-color: #3c3f46;
}

@media screen and (max-width: 800px) {
  .navbar ul {
    display: block;
    align-items: none;
    justify-content: none;
  }

  h1 {
    padding-top: 100px;
  }
}